{% extends 'layout.html' %}

{% from 'helpers/_forms.html' import render_field %}

{% block container %}
<div class="col-md-12 col-md-offset-1">
<h3>LOGIN</h3>

    <form class="" action="index.html" method="post">
    
    <div class="form-group">
            {{ render_field(form.username, class='form_control', placeholder='Usuario') }}
    </div>

    <div class="form-group">
            {{ render_field(form.password, class='form_control', placeholder='Contraseña') }}
    </div>

    </form>

</div>

{% endblock %}