.view {
    background-image: url('../img/logo.jpg')no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
  height: 100%;
}

body {
    background-color: #04329e;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}
.footer {

    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
  }

  html, body {
    height: 100%;
    margin: 0;
  }